body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: #222;
    margin: 0;
    font-family: Arial, sans-serif;

    /* Add these lines to disable user selection */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */

    overflow:hidden; /* Hide scrollbars */

    background-image: url('tetris.png');
    background-size: cover;
}

h1.fancy-title {
    color: #fff;
    font-size: 3rem;
    margin: 20px 0;
    text-shadow: 0 0 10px #fff;
}

#gameCanvas {
    position: relative;
}


canvas {
    border: 1px solid #fff;
    background-color: black;
    opacity: 1;
}


.board-container {
    display: flex;
    align-items: flex-start;
}

#nextCanvas {
    margin-right: 10px;
}

#startGame {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#startGame:hover {
    background-color: #218838;
}
